.container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 1.5rem;
}

.day {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today {
  font-size: 23px;
}

.button,
.button-unactive {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: white;
  border: 0.05rem solid #aebace;
  border-radius: 20rem;
  margin-right: 0.6rem;
}

.button-unactive {
  background-color: white;
  border: 0.05rem solid #aebace;
  color: rgb(187, 184, 184);
}

.button:hover {
  cursor: pointer;
  border: 0.05rem solid #007bff;
}

.bedtime {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.375rem;
  background-color: #3b43d8;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 6px;
  gap: 0.7rem;
}

.habbits {
  display: flex;
  flex-direction: column;
  border: 1px solid #bed1ed;
  border-radius: 5px;
  padding: 25px;
  gap: 1rem;
}

.skip {
  color: #007bff;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.day-and-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.8rem;
}

.empty-habits-message {
  color: #8f99a7;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
