.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  position: relative;
}

.delete-button {
  display: flex;
  justify-content: space-between;
}

.submit {
  display: flex;
  justify-content: space-evenly;
}

.symbol {
  padding-right: 1.8rem;
}

.right,
.right-active {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  padding: 0.5rem;
  transition: 60ms;
}

.right-active {
  color: white;
}

.highlight,
.highlight-active {
  position: absolute;
  border-left: #3798fa solid 5px;
  padding: 2rem 0.1rem;
  border-radius: 10px;
  background-color: #3798fa;
  z-index: -1;
  left: 2.8rem;
  transition: 60ms;
}

.highlight-active {
  padding: 2rem 6.6rem;
}

.habbit-name {
  font-size: 20px;
}
