.container {
  background-color: rgb(80, 80, 80);
  margin: 0.5rem;
  padding: 0.5rem;
}

.delete-button {
  display: flex;
  justify-content: space-between;
}

.submit {
  display: flex;
  justify-content: space-evenly;
}
