.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 5.5rem;
  /* background-color: rgba(128, 128, 128, 0.363); */
}

.delete-button {
  display: flex;
  justify-content: space-between;
}

.submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.25rem;
  font-size: 16px;
  font-weight: 600;
}

.symbol {
  padding-right: 0.6rem;
  cursor: default;
}

.right,
.right-active,
.right-inactive {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  transition: 60ms;
  padding: 0 1rem;
}

.right-inactive {
  color: #bed1ed;
}

.right-active {
  color: white;
}

.highlight,
.highlight-active,
.highlight-inactive {
  position: absolute;
  border-left: #3798fa solid 5px;
  padding: 2.75rem 0.06rem;
  border-radius: 10px;
  background-color: #3798fa;
  z-index: -1;
  left: 1.7rem;
  transition: 60ms;
}

.highlight-active {
  padding: 2.75rem 7.7rem;
}

.highlight-inactive {
  border-left: #bed1ed solid 5px;
  background-color: #bed1ed;
}

.habit-name,
.habit-name-long {
  font-size: 20px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  margin-bottom: 0.125rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.habit-name {
  max-width: 8rem;
}

.habit-name-long {
  max-width: 28rem;
}

.mark-complete {
  background-color: white;
  border: 1px solid #bed1ed;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 1.1rem;
  color: #007bff;
  border-radius: 5px;
  cursor: pointer;
}

.completed-button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: inherit;
  font-weight: 600;
  height: 2rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 16px;
  font-weight: 600;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.color-white {
  color: white;
}

.strike-and-delete {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.comtainer-modal {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 39rem;
  padding: 50px;
  border-radius: 20px;
  z-index: 2;
  gap: 1.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  z-index: 1;
}

.overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 8rem;
}

.completed-message {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.25rem;
}

.fire-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-message {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

.modal-message h2 {
  font-size: 2rem;
}

.modal-message p {
  font-size: 1.1rem;
  color: #8f99a7;
}

.modal-habit-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background-color: #eef3fb;
  width: 100%;
  border: 1px solid #bed1ed;
  padding: 0.7rem;
  border-radius: 5px;
  color: #4d5560;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.modal-trash-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15rem;
  height: 6.8rem;
  background-color: #ffc76c;
  border-radius: 10px;
  font-size: 4rem;
  color: white;
}

.modal-button-cantel,
.modal-button-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.05rem solid #aebace;
  font-weight: 600;
  border-radius: 40px;
  padding: 1rem;
  height: 4rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition-duration: 0.15s;
}

.modal-button-cantel {
  color: #007bff;
  background-color: white;
  width: 14rem;
}

.modal-button-cantel:hover {
  border: 0.05rem solid #007bff;
}

.modal-button-delete {
  color: white;
  background-color: #eb1f17;
  width: 18rem;
}

.modal-button-delete:hover {
  background-color: #be0700;
}
