@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300&display=swap");

:root {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
  color-scheme: light dark;
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: "Rubik", sans-serif;
  background-color: aliceblue;
  color: #242424;
  border: none;
  padding: 0.3rem;
  border-radius: 3px;
}
