.container {
  background-color: #007bff;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem 1rem 0rem;
}

.header {
  width: 75rem;
  display: flex;
  justify-content: space-between;
}
