.container {
  height: 4.688rem;
  background-color: #007bff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
  font-weight: 500;
}

.logo {
  font-size: 1.7rem;
  font-weight: 600;
  color: aliceblue;
}

.header {
  width: 75rem;
  display: flex;
  justify-content: space-between;
}

.button {
  font-size: 0.9rem;
  font-weight: 500;
  width: 4.5rem;
  height: 2.5rem;
}
