.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.main-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.overall-progress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.overall-progress-percentage-comparison {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.week {
  display: grid;
  grid-template-columns: 11.25rem 1fr 5rem;
  height: 3.75rem;
}

.days {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day {
  height: 1.75rem;
  width: 1.75rem;
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
