.week {
  display: grid;
  grid-template-columns: 11.25rem 1fr 5rem;
  height: 3.75rem;
}

.days {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progressBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  background-color: blue;
}

.row-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.day-done,
.day-not-done,
.day-waining,
.day-inactive {
  height: 1.75rem;
  width: 1.75rem;
}

.day-done {
  background-color: rgb(55, 152, 250);
  cursor: pointer;
}

.day-not-done {
  background-color: #e0e7f4;
  cursor: pointer;
}

.day-waining {
  background-color: #eef3fb;
}

.day-inactive {
  visibility: hidden;
  background-color: rgb(255, 255, 255);
}

.flex {
  display: flex;
  justify-content: center;
}

.overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 7.5rem;
}
